* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: #25564b;
    --Darkblue: hsl(198, 62%, 26%);
    --Darkmoderatecya: hsl(168, 34%, 41%);
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

.topnav {
    display: flex;
    background-color: #3EBFFF;
    width: 100%;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    height: 62px;
    position: relative;
}

.topnav ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #3EBFFF;
    list-style: none;
}

.topnav ul li {
    margin-left: 8px;
    margin-right: 32px;
    font-family: 'Barlow', sans-serif;
}

.topnav ul li a {
    text-decoration: none;
    color: var(--White);
    font-weight: 600;
    cursor: pointer;
    font-size: .7em;
}

#contato {
    display: flex;
    background-color: white;
    padding: 8px 16px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: var(--Verydarkdesaturatedblue);
}

.topnav ul li:hover {
    background-color: #0f07f5;
}

nav .logo {
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
}

span {
    display: none;
}

header {
    width: 100%;
    height: 90vh;
    background-image: url("images/desktop/image-header.jpg");
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    background-color: #3EBFFF;
    color: var(--White);
    font-family: 'Fraunces', serif;
    font-weight: 900 bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

main {
    overflow: hidden;
    border: 1px solid black;
    height: 210vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "texto-1 img-1"
        "img-2 texto-2"
        "img-fundo-1 img-fundo-2";
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.texto-1 {
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    grid-area: texto-1;
    height: 70vh;
    width: 50vw;
    background-color: var(--White);
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.imagem-1 {
    border: 1px solid black;
    height: 70vh;
    grid-area: img-1;
    width: 50vw;
}

.imagem img {
    height: 70vh;
    width: 50vw;
}

.texto-2 {
    background-color: var(--White);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: texto-2;
    height: 70vh;
    width: 50vw;
}

.imagem-2 {
    width: 50vw;
    height: 70vh;
    grid-area: img-2;
}

.img-fundo-1 {
    width: 50vw;
    height: 70vh;
    grid-area: img-fundo-1;
    background: url("images/desktop/image-graphic-design.jpg");
    color: var(--Darkdesaturatedcyan);
    border: 1px solid black;
    display: grid;
    align-items: flex-end;
    justify-content: center;
}

.img-fundo-2 {
    display: grid;
    align-items: flex-end;
    justify-content: center;
    width: 50vw;
    height: 70vh;
    grid-area: img-fundo-2;
    background-size: cover;
    background-repeat: no-repeat;
    background: url("images/desktop/image-photography.jpg");
    color: var(--Darkblue);
}

main .texto p {
    margin: 8px 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--Grayishblue);
}

main .texto a {
    text-decoration: var(--Softred);
    color: var(--Verydarkdesaturatedblue);
}

.img-fundo h3 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 8px;
    text-align: center;
}

.img-fundo p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: .8em;
    line-height: 1.5em;
    margin-bottom: 16px;
}

.client {
    height: 80vh;
}

.client,
.client .cards .card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client .cards,
.card {
    display: flex;
}

.client h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--Grayishblue);
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 48px 0;
}

.client .cards .card p:nth-child(2) {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-align: center;
    color: var(--Darkblue);
    line-height: 1.5em;
}

.client .cards .card p:nth-child(3) {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--Verydarkdesaturatedblue);
    margin-top: 80px;
    margin-bottom: 8px;
}

.client .cards .card p:nth-child(4) {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--Grayishblue);
    font-size: .8em;
}

.client .cards .card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.client .cards .card {
    margin: 8px;
    width: 320px;
    height: 334px;
}

.gallery {
    overflow: hidden;
    height: 60vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "milkbottles orange-fruta cone sugar-cubes";
}

.milkbottles {
    grid-area: milkbottles;
}

.orange-fruta {
    grid-area: orange-fruta;
}

.cone {
    grid-area: cone;
}

.sugar-cubes {
    grid-area: sugar-cubes;
}

footer {
    background-color: #3EBFFF;
    height: 42vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

footer .logo-footer svg {
    color: var(--Darkdesaturatedcyan);
}

footer ul {
    list-style: none;
    display: flex;
    gap: 8px;
    color: var(--Darkdesaturatedcyan);
    font-family: 'Barlow', sans-serif;
}

footer .redes-sociais img {
    margin: 0 8px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:600px) {
    span {
        display: inline;
        margin-right: 8px;
    }

    .topnav ul {
        display: none;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive ul {
        display: flex;
        position: absolute;
        top: 68px;
        z-index: 10;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        height: 160px;
    }

    .topnav.responsive ul li {
        margin: 0 8px;
        background-color: var(--White);
        padding: 8px 16px;
        text-align: center;
        color: var(--Verydarkgrayishblue);
    }

    .topnav.responsive ul li a {
        text-decoration: none;
        color: var(--Darkmoderatecya);
        font-weight: 600;
        font-size: 1em;
    }

    #contato {
        display: flex;
        background-color: var(--Yellow);
        padding: 8px 16px;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        color: var(--Verydarkdesaturatedblue);
    }

    header {
        background: url("images/mobile/image-header.jpg");
        background-size: cover;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "img-1"
            "texto-1"
            "img-2"
            "texto-2"
            "img-fundo-2"
            "img-fundo-1";
        height: 422vh;
    }

    section:nth-child(3) {
        flex-direction: column-reverse;
    }

    .texto-1,
    .texto-2,
    .imagem-1,
    .imagem-2,
    .img-fundo-1,
    .img-fundo-2 {
        width: 100vw;
    }

    .imagem img {
        height: 70vh;
        width: 100vw;
    }

    .img-fundo-1 {
        background: url("images/mobile/image-photography.jpg");
        color: var(--Darkdesaturatedcyan);
        
        background-size:cover;
        
    }

    .img-fundo-2 {
        background-size:cover;
        background-clip: border-box;
        background: url("images/mobile/image-graphic-design.jpg");
        color: var(--Darkblue);
    }
   
    .client {
        height: 190vh;
    }

    .client .cards {
        flex-direction: column;
    }

    .client .cards .card img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .imagem,
    .texto {
        width: 100%;
        height: 50vh;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "milkbottles orange-fruta"
            " cone sugar-cubes";
        gap: 0px 0px;
        grid-row: auto;
        height: 76vh;
    }

    .gallery img {
        height: 250px;
        margin-bottom: -4px;

    }

}