* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: #25564b;
    --Darkblue: hsl(198, 62%, 26%);
    --Darkmoderatecya: hsl(168, 34%, 41%);
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

.topnav {
    display: flex;
    background-color: #3EBFFF;
    width: 100%;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    height: 62px;
    position: relative;


}
.topnav ul{
display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #3EBFFF;
    list-style: none;}
.topnav ul li {
    margin-left: 8px;
    margin-right: 32px;
    font-family: 'Barlow', sans-serif;
}
.topnav ul li a {
    text-decoration: none;
    color: var(--White);
    font-weight: 600;
    cursor: pointer;
    font-size: .7em;
}
#contato {
    display: flex;
    background-color: white;
    padding: 8px 16px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: var(--Verydarkdesaturatedblue);
}
    
*/
/* Change the color of links on hover */
.topnav ul li:hover {
    background-color: #0f07f5;
    
}


nav .logo {
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
}

span {
    display: none;
   
}

header {
    width: 100%;
    height: 90vh;
    background-image: url("images/desktop/image-header.jpg");
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    background-color: #3EBFFF;
    color: var(--White);
    font-family: 'Fraunces', serif;
    font-weight: 900 bold;
}

section {
    width: 100%;
    height: 69vh;
    display: flex;
}

.imagem,
.texto {
    width: 50%;
    height: 100%;
}

section .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--White);
    font-family: 'Fraunces', serif;
}

section .texto p {
    margin: 8px 0;
}

section .texto .texto1 a {
    text-decoration: var(--Softred);
    color: var(--Verydarkdesaturatedblue);
}

section .imagem img {
    width: 100%;
    height: 100%;
}

.img-fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img-fundo:nth-child(1) {
    background: url("images/desktop/image-graphic-design.jpg");
}

.img-fundo:nth-child(2) {
    background: url("images/desktop/image-photography.jpg");
}

.img-fundo p {
    text-align: center;
}

.client {
    height: 80vh;
}

.client,
.client .cards .card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client .cards,
.card {
    display: flex;
}

.client .cards .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.client .cards .card {
    justify-content: space-around;
    margin: 8px;
    width: 320px;
    border: 1px solid black;
}

.client .cards {}

.gallery {
    overflow: hidden;
    height: 60vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "milkbottles orange-fruta cone sugar-cubes";
}

.milkbottles {
    grid-area: milkbottles;
}

.orange-fruta {
    grid-area: orange-fruta;
}

.cone {
    grid-area: cone;
}

.sugar-cubes {
    grid-area: sugar-cubes;
}

.gallery img {}

footer {
    background-color: #3EBFFF;
    height: 42vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
footer .logo-footer svg{
    color: var(--Darkdesaturatedcyan);
}
footer ul{
    list-style: none;
    display: flex;
    gap: 8px;
    color: var(--Darkdesaturatedcyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:600px) {
span{
    display: inline;
}
    .topnav ul {
        display: none;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive ul {
        display: flex;
        position: absolute;
        top: 68px;
        z-index: 10;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        height: 160px;

    }

    .topnav.responsive ul li {
        margin: 0 8px;
        background-color: var(--White);
        padding: 8px 16px;
        text-align: center;
        color: var(--Verydarkgrayishblue);
    }
    .topnav.responsive ul li a {
text-decoration: none;
        color: var(--Darkmoderatecya);
        font-weight: 600;

        font-size: 1em;
    }#contato {
        display: flex;
        background-color: var(--Yellow);
        padding: 8px 16px;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        color: var(--Verydarkdesaturatedblue);
    }
    button {
        display: block;
        border: 1px solid black;
    }

    header {
        background: url("images/mobile/image-header.jpg");
        background-size: cover;
    }

    section {
        height: 100vh;
        flex-direction: column;
    }

    .client {
        height: 90vh;
    }

    .client .cards {
        flex-direction: column;
    }

    .client .cards .card img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .imagem,
    .texto {
        width: 100%;
        height: 50vh;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "milkbottles orange-fruta"
            " cone sugar-cubes";
        gap: 0px 0px;
        grid-row: auto;
        height: 76vh;
    }


    .gallery img {
        height: 250px;
        margin-bottom: -4px;

    }

}